services:
  postgres:
    image: postgres:17.6
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orderdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
      - rabbitmq_log:/var/log/rabbitmq/
      - rabbitmq_mnesia:/var/lib/rabbitmq/mnesia

  seq:
    image: datalust/seq:latest
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "True"
    ports:
      - "5342:80"
    volumes:
      - seq:/data

  order-processing-api:
    build:
      context: .
      dockerfile: OrderProcessing.API/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__orderdb: "Host=postgres;Port=5432;Username=postgres;Password=postgres;Database=orderdb"
      ConnectionStrings__messaging: "amqp://guest:guest@rabbitmq:5672"
      ConnectionStrings__seq: "http://seq"
    ports:
      - "5062:8080"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

volumes:
  pgdata:
  rabbitmq_data:
  rabbitmq_log:
  rabbitmq_mnesia:
  seq:
